# {{ ansible_managed }}
version: '3.4'

services:
  traefik:
    image: traefik
    ports:
      - "{{ traefik_entrypoint_http_port }}:80"
      - "{{ traefik_entrypoint_https_port }}:443"
{% if traefik_dashboard_enable %}
      - 8080:8080
{% endif %}
    networks:
      - traefik
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 1
        delay: 5s
        failure_action: rollback
        monitor: 30s
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 3
        window: 10s
      placement:
        constraints:
          - node.role == manager
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ traefik_directory }}/traefik.toml:/traefik.toml
      - {{ traefik_directory }}/conf.d:/conf.d
{% if traefik_acme_enable %}
      - {{ traefik_directory }}/acme.json:/acme.json
{% endif %}


networks:
  traefik:
    external: true